Implement RFC 8489

https://tools.ietf.org/html/rfc8489

Standard is already available and can be implement in this package.

Here is a [list of changes since RFC5389](https://www.rfc-editor.org/rfc/rfc8489#section-19) which need to be implemented:

- [ ] Added support for DTLS-over-UDP [RFC6347](https://www.rfc-editor.org/rfc/rfc6347).
- [ ] Made clear that the RTO is considered stale if there are no transactions with the server.
- [ ] Aligned the RTO calculation with [RFC6298](https://www.rfc-editor.org/rfc/rfc6298).
- [ ] Updated the ciphersuites for TLS.
- [ ] Added support for STUN URI [RFC7064](https://www.rfc-editor.org/rfc/rfc7064).
- [ ] Added support for SHA256 message integrity.
- [ ] Updated the Preparation, Enforcement, and Comparison of Internationalized Strings (PRECIS) support to [RFC8265](https://www.rfc-editor.org/rfc/rfc8265).
- [ ] Added protocol and registry to choose the password encryption algorithm.
- [ ] Added support for anonymous username.
- [ ] Added protocol and registry for preventing bid-down attacks.
- [ ] Specified that sharing a NONCE is no longer permitted.
- [ ] Added the possibility of using a domain name in the alternate server mechanism.